:root{

}


body{
    font-family: 'Roboto', sans-serif;
}

.list{
    list-style: none;
}

.list{
    text-decoration: none;
}
/*-------------HEADER------*/

.logo-header{
     font-family: 'Raleway',sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em; 
     text-decoration: none;  
     color: #000000;
}   

.logo-web{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.header-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    list-style: none;
    letter-spacing: 0.02em;
    
    color: #212121;
}
.header-link:hover, 
.header-link:focus {
    color: #2196F3
}

.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    color: #757575;
}
.header-mail:hover,
.header-link:focus {
    color: #2196F3
}

       /*--------HERO-----------*/
.hero {
    background:#2F303A;
}
    
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
    
.hero-btn {
    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;

}
.hero-btn:hover,
.hero-btn:focus {
    background: #2196F3; 
}
        /*--------DESCRIPTION-----------*/

.description-list {
    list-style: none;
}
.description-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*---------------ABOUT---------*/

.about-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.about-picture{
 list-style: none;
}

/*---------------TEAM---------*/

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}

 .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    
 }

 .team-picture {
    list-style: none;
    }

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color: #757575;
}



    




    
        
        

